.category-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 50px;

}
.category-title{
    text-align: center;
    font-size: 38px;
    margin-bottom: 25px;
}
.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}